/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);

}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  // border-color: red;
}

atom-text-editor::shadow {
    .editor-contents--private .comment {
        opacity: 0.5;
    }

    .editor-contents--private .invisible-character {
        color: #515151;
    }

    .wrap-guide {
        opacity: 0.1;
    }
}

atom-text-editor::shadow  .bracket-matcher .region {
    border-bottom: 1px dotted #ffcc66;
    background: #515151;
}

.tab-bar .tab::before, atom-pane.active .tab.active:before {
    background: #ffcc66;
}

.tab-bar .tab.active[data-type$="Editor"], .tab-bar .tab.active[data-type$="Editor"] .title {
    background: #393939;
}

.tab-bar .tab.active[data-type$="Editor"]::after {
    border-bottom: 1px solid #222;
}

atom-text-editor::shadow atom-text-editor-minimap::shadow canvas, atom-text-editor atom-text-editor-minimap::shadow canvas, html atom-text-editor-minimap::shadow canvas {
    opacity: 0.6;
}

@scrollbar-background-color-editor: #3c3c3c;
@scrollbar-background-color: #3c3c3c;
@scrollbar-color-editor: #515151;
@scrollbar-color: #515151;

.scrollbars-visible-always {
	/deep/ ::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	/deep/ ::-webkit-scrollbar-track {
		background: @scrollbar-background-color;
	}

	/deep/ ::-webkit-scrollbar-thumb {
		border-radius: 5px;
		border: 1px solid @scrollbar-background-color;
		background: @scrollbar-color;
		background-clip: content-box;
	}

	/deep/ ::-webkit-scrollbar-corner {
		background: @scrollbar-background-color;
	}

	/deep/ ::-webkit-scrollbar-thumb:vertical:active {
		border-radius: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

	/deep/ ::-webkit-scrollbar-thumb:horizontal:active {
		border-radius: 0;
		border-top-width: 0;
		border-bottom-width: 0;
	}

	atom-text-editor {
		/deep/ ::-webkit-scrollbar-track {
			background: @scrollbar-background-color-editor;
		}
		/deep/ ::-webkit-scrollbar-corner {
			background: @scrollbar-background-color-editor;
		}
		/deep/ ::-webkit-scrollbar-thumb {
			border-color: @scrollbar-background-color-editor;
			background: @scrollbar-color-editor;
		}
	}
}
